* {
  box-sizing: border-box;
}
* ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

:root {
  font-size: 10px;
}

@font-face {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  src: local("Georgia"), url("../../assets/fonts/Georgia.woff") format("woff");
}
@font-face {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  src: local("Arial"), url("../../assets/fonts/Arial.woff") format("woff");
}
body {
  font-family: Arial;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: normal;
  line-height: 160%;
}

.wrapper {
  display: flex;
  max-width: 120rem;
  margin: 0 auto;
}

.start_screen {
  background: url(../../assets/images/noise_transparent.png), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}
.start_screen .wrapper {
  flex-direction: column;
}
.start_screen .wrapper .header {
  padding-top: 6rem;
  display: flex;
  justify-content: space-between;
}
.start_screen .wrapper .logo_wrap .logo_title {
  font-family: Georgia;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: normal;
  line-height: 110%;
  letter-spacing: 0.2rem;
  margin: 0;
  color: #f1cdb3;
  text-decoration: none;
}
.start_screen .wrapper .logo_wrap .logo_subtitle {
  font-family: Arial;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.13rem;
  color: #ffffff;
  margin-top: 0.5rem;
}
.start_screen .wrapper .top_menu {
  line-height: 5.8rem;
}
.start_screen .wrapper .top_menu ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.start_screen .wrapper .top_menu ul li {
  padding-right: 3.5rem;
}
.start_screen .wrapper .top_menu ul li a {
  font-size: 1.5rem;
  line-height: 160%;
  color: #cdcdcd;
  text-decoration: none;
}
.start_screen .wrapper .top_menu ul li a:hover {
  color: #fafafa;
}
.start_screen .wrapper .top_menu ul li a.active {
  border-bottom: 0.3rem solid #f1cdb3;
  padding-bottom: 0.5rem;
}
.start_screen .wrapper .top_menu ul li:last-child {
  padding-right: 0;
}
.start_screen .wrapper .header_content {
  display: flex;
  justify-content: space-between;
  margin-top: 4.3rem;
}
.start_screen .wrapper .header_content .header_content_left {
  margin-top: 12.8rem;
}
.start_screen .wrapper .header_content h2 {
  font-family: Georgia;
  font-size: 4.4rem;
  font-style: normal;
  font-weight: normal;
  line-height: 130%;
  color: #ffffff;
  max-width: 31rem;
}
.start_screen .wrapper .header_content p {
  font-family: Arial;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: normal;
  line-height: 160%;
  margin-top: 4rem;
  margin-bottom: 0;
  color: #cdcdcd;
  max-width: 46rem;
}
.start_screen .wrapper .header_content .btn {
  margin-top: 4.2rem;
}

.btn {
  font-family: Georgia;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  display: inline-block;
  text-decoration: none;
  padding: 1.3rem 4.3rem;
  background: #f1cdb3;
  border-radius: 10rem;
  border: 2px solid #f1cdb3;
}

.about .wrapper {
  justify-content: space-between;
  padding: 8rem 17.5rem 9.34rem 17.5rem;
}
.about .wrapper .about_content {
  max-width: 43rem;
}
.about .wrapper .about_content .about_title {
  font-family: Georgia;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  max-width: 37rem;
  margin-top: 1.5rem;
  margin-bottom: 0;
}
.about .wrapper .about_content .about_description p {
  font-family: Arial;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: normal;
  line-height: 160%;
  margin-top: 2.5rem;
  color: #4c4c4c;
}

.pets {
  background: #f6f6f6;
}
.pets .wrapper {
  padding: 8rem 0 10rem 0;
}
.pets .wrapper .pets_content {
  width: 100%;
}
.pets .wrapper .pets_content .pets_title {
  font-family: Georgia;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
  margin: 0 auto;
}
.pets .wrapper .pets_content .pets_carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6rem;
}
.pets .wrapper .pets_content .pets_carousel .slider_button {
  border: 2px solid #f1cdb3;
  border-radius: 100%;
  padding: 1.7rem;
  background: none;
}
.pets .wrapper .pets_content .pets_carousel .slider_button.reverted {
  transform: rotate(180deg);
}
.pets .wrapper .pets_content .pets_carousel .pets_items {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 0 8px;
}
.pets .wrapper .pets_content .pets_carousel .pets_items .pets_item {
  display: flex;
  flex-direction: column;
  background: #fafafa;
}
.pets .wrapper .pets_content .pets_carousel .pets_items .pets_names {
  font-family: Georgia;
  font-size: 2rem;
  font-style: normal;
  font-weight: normal;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.pets .wrapper .pets_content .pets_carousel .pets_items .btn {
  margin: 0 auto;
  margin-bottom: 3rem;
  background: none;
}
.pets .wrapper .pets_content .pets_button_wrapper {
  text-align: center;
  margin-top: 6rem;
}

.help .wrapper {
  padding: 8rem 0 10rem 0;
}
.help .wrapper .help_content {
  width: 100%;
}
.help .wrapper .help_content .help_title {
  font-family: Georgia;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
  margin: 0 auto;
}
.help .wrapper .help_content .help_items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 6rem;
}
.help .wrapper .help_content .help_items .help_item {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.help .wrapper .help_content .help_items .help_item:first-child {
  margin-bottom: 5.5rem;
}
.help .wrapper .help_content .help_items .help_item .help_names {
  font-family: Georgia;
  font-size: 2rem;
  font-style: normal;
  font-weight: normal;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
  margin-top: 3rem;
}

.donation {
  background: #f6f6f6;
}
.donation .wrapper {
  justify-content: space-between;
  padding: 8rem 14rem 10rem 14rem;
}
.donation .wrapper .donation_image_wrapper {
  display: flex;
  align-items: center;
}
.donation .wrapper .donation_content {
  max-width: 43rem;
}
.donation .wrapper .donation_content .donation_title {
  font-family: Georgia;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  max-width: 30rem;
  margin-bottom: 2rem;
  margin-top: 0;
}
.donation .wrapper .donation_content .donation_description h5 {
  font-family: Georgia;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: normal;
  line-height: 110%;
  letter-spacing: 0.06em;
  margin-bottom: 2rem;
}
.donation .wrapper .donation_content .donation_description h4 {
  font-family: Georgia;
  font-size: 2rem;
  font-style: normal;
  font-weight: normal;
  line-height: 115%;
  letter-spacing: 0.06em;
}
.donation .wrapper .donation_content .donation_description p {
  font-family: Arial;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: normal;
  line-height: 150%;
  margin-top: 2.5rem;
  max-width: 38rem;
  color: #b2b2b2;
}
.donation .wrapper .donation_content .donation_description .credit_card {
  background: #f1cdb3;
  display: flex;
  max-width: 35rem;
  padding: 1rem 1.5rem 1rem 1.5rem;
  margin-bottom: 0;
  border-radius: 9px;
  margin-top: 0;
}
.donation .wrapper .donation_content .donation_description .credit_card img {
  margin-right: 1.5rem;
}